.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.addprod{
  margin-top: 2em;
  float: right;
  width: 70%;
}

.btn{

    background-color: #512DA8;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    font-size: 1rem;
    padding: 15px;
    cursor: pointer;
    margin-top: 1em;
   margin-right: 1em;
    margin-bottom: 1em;
    transition: background 0.2s ease-in-out;

}

.mat-radio-button ~ .mat-radio-button {
  padding-right: 1em;
  margin-right: 1em;

}
.supp{
  font-family: "DejaVu Serif Condensed";
}
