.login {
    width: 25%;
    
}

input {
//   position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

button {
    width: 100px; // whatever your button's width
    margin: 0 auto;
}